@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    margin:0;
    background-color: #1B1B1B;

}
.container {
    height: 100vh;
    /*overflow-y: scroll;
    scroll-snap-type: y mandatory;*/
    opacity: 0;
    animation: 2s 0.1s 1  fade-in forwards;
}
.section {
    /*scroll-snap-align: start;*/
    overflow: hidden;
    height: 100vh;
    /*position: sticky;*/
    top:0;
}


.top {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: #252930;
    position: relative;
    z-index:2;
}
.splash {
    font-family: motiva-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: calc(60px + 2vw);
    /*font-size: 80px;*/
    
    text-align: center;
    color: white;

    grid-column: 1;
    grid-row: 1;
    /*margin-top: calc(50vh - 60px - 2vw);*/
    margin-top: calc(50vh - 1em);

    z-index: 1;
}
.undertext {
    font-family: motiva-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(15px + 0.5vw);

    color: white;
    text-align: center;
    opacity: 0.9;

    grid-column: 1;
    grid-row: 1;
    margin-top: 50vh;

    z-index: 1;
}
.top-button {
    background-color: #809DAB;
    box-shadow: 0 5px 0 #556972;
    border: none;
    text-align: center;
    display: inline-block;

    padding: 20px;
    width: 60px;
    height: 45px;
    border-radius: 15px;

    transition: 0.1s ease-in-out;
    transition-property: box-shadow, transform;

    grid-column: 1;
    grid-row: 1;
    margin-top: calc(50vh + 15px + 0.5vw + 2em);
    margin-left: calc(50vw - 42.5px);
    
    z-index: 3;

}   
.top-button:active {
    box-shadow: none;
    transform: translateY(5px);
}
.material-symbols-outlined {
    transform: scale(1.5);
    color: white;
    display: block;
    position: relative;
    left: -6%;
    top:-9;
    
}


.interval {
    background-color: #1B1B1B;
    height: 40vh;

    z-index: 2;

}
.interval-splash-div {
    position: relative;
    height: 120%;
    width: 40vw;

    left: 5vw;
    display:table;
    float:left;
    transform: translateY(-20px);
}
.interval-splash {
    font-family: motiva-sans, sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: calc(20px + 2vw);
    /*font-size: 45px;*/
    color: white;

    display:table-cell;
    vertical-align: middle;
    line-height: 1.1em;
}
.interval-splash-div-2 {
    position: relative;
    height: 120%;
    width: 30vw;

    right: 10vw;
    float: right;
    display:table;

    transform: translateY(-20px);

}
.interval-text {
    font-family: motiva-sans, sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: calc(11px + 0.7vw);
    /*font-size: 18px;*/
    color: white;

    display:table-cell;
    vertical-align: middle;
    line-height: 1.1em;

    opacity: 0.9
}
.interval-button {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 0 #ffffff;
    border: none;
    text-align: center;

    padding: 20px;
    width: 60px;
    height: 45px;
    border-radius: 15px;

    transition: 0.1s ease-in-out;
    transition-property: box-shadow, transform;

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: calc(-5vw - 4px);
    top:37vh;
}
.interval-button:active {
    box-shadow: none;
    transform: translateY(4px);
}
.git-link {
    text-decoration: none;
    color: #bce8fd;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
    transition-property: color, opacity;
}
.git-link:hover {
    color: #94ffa6;
    opacity: 1;
}


.projects {
    top: calc(6vh + 20px);
    background-color: #E3E6E0;
    height: 90vh;
    position: relative;
}
.projects-splash-div{
    width: 100%;
    position: absolute;
    top:-2vh;
}
.projects-splash {
    font-family: motiva-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: calc(35px + 2vw);

    color: #1B1B1B;
    text-align: center;
    
    padding-left: 2vw;
    padding-right: 2vw;
    grid-column: 1;
    grid-row: 1;

    position: relative;

    z-index: 1;
    
}



.bottom {
    height: 30vh;
    background-color: #1B1B1B;

}