@font-face {
    font-family: SFPro;
    src: url(fonts/SFPRODISPLAYBOLD.OTF)
}

@font-face {
    font-family: SFProThin;
    src: url(fonts/SFPRODISPLAYREGULAR.OTF)
}

body {
    margin: 0;
    background: #232323;
}

.p1 {
    z-index: 1;
    margin: 0;
}

.particles-js {
    margin: 0;
    z-index: 2;
    background-color: #232323;

    width: 100%;
    height: 100%;

    position: absolute;
}

.danile {
    position: absolute;
    color: #f5f5f7;

    top: 20vh;
    left: 3%;

    z-index: 3;
    font-family: SFPro;
    font-size: 120;
}

.jobtitle {
    position: absolute;
    color: rgb(255, 225, 0);

    top: calc(20vh + 130px);
    left: calc(3% - 10px);

    font-family: SFProThin;
    font-size: 25;
    z-index: 3;

    max-width: 50vw;
}

.morsecoderimg {
    position: absolute;
    z-index: 3;

    width: 400;
    right: 10vw;
    top: 25vh;
    opacity: 100;
}

.fp {
    top: 100%;
    height: 50%;
    width: 100%;

    /*background: #f5f5f7;*/
    background: rgb(23, 23, 23);

    position: absolute;

}

.morsecoder {
    font-family: SFPro;
    font-size: 25;
    z-index: 3;

    top: 35px;
    left: 5vw;
    position: absolute;

    color: #f5f5f7;
}

.morsecoder-ut {
    font-family: SFProThin;
    font-size: 20;
    z-index: 3;

    top: 75px;
    left: calc(5vw + 50px);
    position: absolute;

    color: rgb(255, 225, 0);
}

.morsecoder-link {
    font-family: SFPro;
    font-size: 25;
    z-index: 3;

    color: rgb(255, 225, 0);

    text-decoration: none;
}

.morsecoder-link:hover {
    color: rgb(211, 187, 0);
}

.thiswebsite {
    font-family: SFPro;
    font-size: 25;
    z-index: 3;

    top: 125px;
    left: 15vw;
    position: absolute;

    color: #f5f5f7;
}

.thiswebsite-ut {
    font-family: SFProThin;
    font-size: 20;
    z-index: 3;

    top: 165px;
    left: calc(15vw + 50px);
    position: absolute;

    color: rgb(255, 225, 0);
}

.thiswebsite-link {
    font-family: SFPro;
    font-size: 25;
    z-index: 3;

    color: rgb(255, 225, 0);

    text-decoration: none;
}

.thiswebsite-link:hover {
    color: rgb(211, 187, 0);
}