@font-face {
    font-family: 'SFPro';
    src: url('fonts/SFPRODISPLAYBOLD.OTF')
}

head {
    margin: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: black;

    -webkit-user-select: none; 
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



.navbar {
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
}
.navbar a {
    float: left;
    padding: 14px 16px;

    height: 12px;
    width: 12px;

    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.git {
    background: url("img/navbar/github.png");
}
.twit {
    background: url("img/navbar/twitter.png");
} 
.em {
    background: url("img/navbar/email.png");
}
.disc {
    background: url("img/navbar/discord.png");
}
.navbar a:hover {
    background-color: #222222;
    filter: invert(100%)
}



.main_page {
    width: 100%;
    height: 2000px;
    background-color: #f5f5f7;
}



@keyframes pop-down {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 100;
        transform: translateY(0);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}



.name-div {
    position: absolute;
    width: 100%;
    height: 200px;

    animation: 1s 0s 1 pop-down forwards;
}
.name {

    font-family: SFPro;
    font-size: 80;
    text-align: center;
}
.jobtitle {
    font-family: SFPro;
    font-size: 20;
    text-align: center;
}



.foreground div {
    position: absolute;
}
.foreground-showcase {
    background-color: white;

    width: calc(100vw - 30vw);
    padding-bottom: 8px;
    top: 465px;
    left: 2vw;
    height: fit-content;


}
.gallery {
    position: center;
    width: 98%;
    padding-top: 38px;
    padding-left: 1%;
    content: url("img/gallery/wordle.png");

}
.right-arrow {
    opacity: 0.7;
    padding: 13px 13px;
    border: none;
    background: url("img/icons/right-arrow.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
    position: relative;
    bottom:20.5vw;
    left: 1vw

}
.right-arrow:active {
    opacity: 0.2;
}
.left-arrow {
    opacity: 0.7;
    padding: 13px 13px;
    border: none;
    background: url("img/icons/left-arrow.png");
    background-size: 100%;
    background-repeat: no-repeat;  

    position: relative;
    bottom:20.5vw;
    left: 1vw

}
.left-arrow:active {
    opacity: 0.2;
}
.dots {
    padding: 6px 6px;
    margin-right: 2;
    background-image: url("img/gallery/dot.png");
    background-size: 70%;
    background-color: transparent;
    background-repeat: no-repeat;

    opacity: 0.2;

    position:absolute;
    bottom: 10px;

}
.dots-active {
    padding: 6px 6px;
    margin-right: 2;
    background-image: url("img/gallery/dot.png");
    background-size: 70%;
    background-color: transparent;
    background-repeat: no-repeat;

    opacity: 0.7;

    position:absolute;
    bottom: 10px;
}
.description-container {
    width: 100%;
    height: fit-content;

    position: relative;
    background-color: white;
}
.description {
    color: black;
}



.foreground-about {
    background-color: black;

    right: 2vw;
    height: 55vw;
    top: 415px;
    left: 74vw;
}

.title div {
    position: absolute;
    background-color: black;
}
.title-div-showcase {
    width: calc(100vw - 30vw);
    top: 415px;
    left: 2vw;

    height: 80px;
}
.title-showcase {
    position: absolute;
    top: 425px;
    left: 4vw;
    color: white;

    font-family: SFPro;
    font-size: 20;
}



.image-self-div {
    position: absolute;
    top: 415px;
    left: 74vw;
    right: 2vw;
}
.image-self {
    width: 24vw;
}