body {
    margin:0;
    background-color: rgb(255, 255, 255);
    /*rgb(33, 33, 33)*/
    height: 500vh;
    
}
p::selection {
    background: rgba(72,72,72,.5);
    color: inherit;
}
h1::selection {
    background: rgba(72,72,72,.5);
    color: inherit;
}

.fade {
    opacity: 0;
    transition: opacity 0.2s;
}
.sticky-helper2 {
    position: absolute;
    width: 100%;
    top:0;
    height: 300vh;
}
.navbar {
    z-index: 100;

    width: 100%;
    height: 160px;
    position: absolute;

    background-image: linear-gradient(to bottom, black, black), linear-gradient(to bottom, black, rgba(255, 255, 255, 0) 0%);
    background-clip: content-box, padding-box;

    transform: translateY(-160px);
    transition: transform 0.2s;

    padding-bottom: 60px;
}
.navbar.show {
    transform: translateY(-100px);
}
.navbar:hover {
    transform: translateY(-100px);
}
.navbar a {
    float: left;
    padding: 14px 14px;
    margin-top: 100px;

    height: 32px;
    width: 32px;

    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition: background-color, filter 0.2s;
    z-index: 1;
}
.navbar a:hover {
    filter: invert();
    background-color: #222222;
}
.navbar a:active {
    filter: invert();
    background-color: #222222;
    background-size: 36%;

}
.twitter-icon {
    background: url('Images/navbar/twitter.webp');
}
.email-icon {
    background: url('Images/navbar/email.webp');
}
.github-icon {
    background: url('Images/navbar/github.webp');
}

.left {
    top: 0;
    z-index: 1;

    height: 100vh;
    width: 45%;
    float: left;
    position: sticky;

    display:table;
    overflow: hidden;
}
.right {
    z-index: 1;

    height: 300vh;
    width: 55%;
    float: right;

    /*background-color: #252930;*/

    position: relative;

}
.img-div {
    height:100vh;
    width:100%;
}
.img-div-1 {
    background-image: url('Images/flim-self.webp');
    background-position: top center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%;

    opacity: 1;
}
.sticky-helper {
    height:200vh;
    width:100%;
    top:100vh;

}
.img-div-2 {
    background-position: center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 50%;
    height:80vh;

    /*overflow: hidden;*/

    position: sticky;
    top:0;

}
.wordle-showcase-img {
    height: 50vh;
    margin-left: 15vw;
    margin-top: 15vh;

    transform: translateX(0);

    box-shadow: 5px 3px 7px 3px rgba(0,0,0,0.21);
}



.button {
    background-color: white;
    border: none;
    text-align: center;
    
    position: absolute;
    margin-left: 50%;
    transform: translatex(-50%);
    margin-top: calc(100vh - 90px);

    padding: 20px;
    width: calc(10px + 0.2vw);
    height: calc(10px + 0.2vw);
    border-radius: 60px;

    z-index: 100;
}
.material-symbols-outlined {
    transform: scale(2);
    color: black;
    display: block;
    position: relative;
    top: -20%;
    left: -37.5%;
}

.splash {
    font-family: motiva-sans, sans-serif;
    font-weight: 700;

}
.text {
    font-family: motiva-sans, sans-serif;
    font-weight: 400;

}

.p1-d {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.p1 {
    padding: 0 0.4em 0 0;
    text-align: left;
    line-height: 1.1;

    font-size: calc(5em + 2vw);
}
.p1-t {
    padding: 0 0 0 0.2em;
    margin-top: -2em;
    text-align: left;
    
    font-size: calc(1em + 1vw);
}


.p2-d {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.p2 {
    padding: 0 0.4em 0 0;
    text-align: left;
    line-height: 1.1;

    font-size: calc(3em + 2vw); 
}
.p2-td {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
    width: 70%;
}
.p2-t {
    font-size: calc(1em + 0.4vw); 
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("Images/wordle/1.webp") url("Images/wordle/2.webp") url("Images/wordle/3.webp") url("Images/wordle/4.webp") url("Images/wordle/5.webp") url("Images/wordle/6.webp") url("Images/wordle/7.webp");
}

.body2 {
    margin-top: 0vh;
    z-index: 999;

    height: 200vh;
    width: 100%;
    float: left;

    display:table;
    overflow:hidden;
}

.left2 {
    opacity: 0;
    margin-top: 0vh;
    z-index: 999;

    height: 100vh;
    width: 100%;
    float: left;

    display:table;
    overflow:hidden;
}
.p3 {
    padding: 0 0.4em 0 0;
    text-align: center;
    line-height: 1.2;
    color: white;

    font-size: calc(4em + 2vw);

    transition: 1s;
}
.p3-t {
    position: absolute;
    font-size: calc(0.9em + 0.3vw); 
    color: grey;

    left:50%;
    transform: translate(-50%, -190%);
}
.projects-div {

    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    align-content: center;

    /*height: 80vh;
    background-image: url("Images/present.webp");
    background-position: top center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%;*/

}
.projects-item {
    margin-top: -5px;
    width: 27.5vw;
    height: 27.5vw;
    display: inline-block;
    
    background-position: top center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 101%;

}
.projects-modal {
    position: absolute;
    width:calc(82.5vw + 1px);
    height:calc(55vw + 1px);
    margin-top:-5px;
    margin-left:-1px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    background-position: top center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%;
    display: none;

}
.projects-modal-close {
    position: absolute;
    height: 3vw;
    width: 3vw;
}
.material-symbols-close {
    margin-left:60%;
    margin-top:40%;

}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.bottom {
    background-image: url("");
    background-position: top center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
    height:100vh;
    width:100vw;

    margin-top:100vh;
}

@media (max-width: 1000px) {


    .left {
        float:none;
        width: 100%;
        background: none;
    }
    .splash-div {
        z-index: 4;
    }
    .splash {
        z-index: 4;
        color: white;
    }
    .text {
        color: white;
    }
    .right {
        position: absolute;
        float:none;
        width: 100%;
    }

    .img-div-1 {
        z-index: 3;

    }
    .wordle-showcase-img {
        margin-left: 0vw;
        margin-top: 0vh;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

  }






