body {
    margin: 0;
    padding: 0;

    width: 100vw;

    background-color: #dfdfdf;

}

.splash {
    height: 30vh;

    background-color: rgb(255, 255, 255);
    background-image: url("Images/uzi.jpg");
    background-size: cover;
    background-position: center -9vh;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-in 0.6s forwards;
}

.content {

    background-color: #dfdfdf;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 80px;
}

.social {
    height: 10vh;
    width: 85vw;

    background-color: white;

    border-radius: 5vw;
    margin: 1vh;

    box-shadow: 8px 11px 11px 5px rgba(0, 0, 0, 0.2);

    display: inline-block;

    opacity: 0;

}

.username_div {
    width: calc(85vw - 10.1vh);
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social p {
    float: right;

    font-family: Gunsan;
    font-size: 7vw;
    font-weight: 400;
}

.social img {
    height: 6vh;
    padding: 2vh;

    filter: grayscale();

    float: left;
}

.content .s1 {
    margin-top: 5vh;
}


h1 {
    font-family: Gunsan;
    font-size: 25vw;
    font-weight: 400;

    color: white;

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(2vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

.notif {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.notif p {
    font-family: Gunsan;
    font-size: 5vw;
    font-weight: 400;

    color: black;
}
