body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    background-color: #212121;
}
.title {
    font-family: motiva-sans, sans-serif;
    font-weight: 700;
    font-size: 10em;
    text-align: center;
    color:white;

    text-decoration:underline;
}
.undertext {
    font-family: motiva-sans, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    color:white;

    margin-top: -5vh;
}
.socials-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)

}
.social-item {
    background-color: #323232;
    border-radius: 70px;
    width: 90vw;
    height: 12vh;
    margin-top: 2vh;
    
    position: relative;
}
.social-item-image {
    height: 8vh;
    display:inline-block;
    padding: 2vh 0 0 2vh;


}
.socials-text-div {
    display: inline-block;
    text-align: center;
    width: calc(68vw);
    height: 100%;

    transform: translateY(-2.4vh);
}
.social-item-text {
    font-family: motiva-sans, sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    /*color: #C9D6DF;*/
    color:white;
    display:inline-block;
}